name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  
  validate_json:
    name: 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout master branch
      uses: actions/checkout@v2
      
    - name: Validate Json File
      uses: docker://orrosenblatt/validate-json-action:latest
      env:
        INPUT_SCHEMA: ./.github/schema/schema.json
        INPUT_JSONS: ./index.json

  build:
    name: Compress Json File.
    needs: [validate_json]
    runs-on: ubuntu-latest
    
    steps:
      - name: Cancel Previous Build
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout master branch
        uses: actions/checkout@v2
     
      - name: Compress
        run: ./.github/scripts/create-dev.sh 
